@import url("../webfonts/karma/stylesheet.css");
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
    -webkit-box-shadow: 0px 0px 0% none;
    box-shadow: 0px 0px 0% none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 211px;
    height: 0px;
    margin-left: 3px;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 325px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
iframe {
    border: none;
}  

body {
  margin: 0;
  background-color: whitesmoke;
	}


/* header outuse styles nav
.header {
    align-items: baseline;
    position: fixed;
    color: #FAF4F4;
    margin-top: -646px;
    z-index: 4;                         
	margin-right: -26px;
    margin-left: -2px;
    width: 19%;
}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

html { background: #000; font: normal 1em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; color: #fff; text-align: center; height: 100%; }
body { height: 100%; }



.menu__inner li a span,
.menu__label span {
    font-size: 0.68em;
  font-family: 'helvetica' sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 600;
}

.menu .fa {
    vertical-align: bottom;
    line-height: 1.25;
    margin-right: 0.65em;
    font-size: 1.15em;
    margin-bottom: 5px;
    margin-top: -59px;
}

.menu__inner {
    list-style: none;
    padding:  -98 -4 8.25em;
    font-size: 1.3em;
    margin: 0;
    position: absolute;
    overflow: hidden;
    height: 0;
    -webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu.menu--open .menu__inner {
    height: 884px;
}

.menu__inner li a {
	top: -76em;
    display: block;
    padding: 0.53em 0;
    line-height: 1.2;
    opacity: 0;
    color: rgba(0,0,0,.25);
  text-decoration: none;
    pointer-events: none;
    outline: none;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.menu__inner li a:hover {
    color: rgba(0,0,0,.75);
}

.menu--open .menu__inner li a {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu--open .menu__inner li:nth-child(2) a {
    -webkit-transition-delay: 0.04s;
    transition-delay: 0.04s;
}

.menu--open .menu__inner li:nth-child(3) a {
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}

.menu--open .menu__inner li:nth-child(4) a {
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
}

.menu--open .menu__inner li:nth-child(5) a {
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
}

.menu--open .menu__inner li:nth-child(6) a {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.morph-shape,
.morph-shape svg {
    position: absolute;
    width: 67%;
    left: 0;
}

.morph-shape {
    height: 444px;
    -webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    overflow: visible;
}

.morph-shape svg {
    height: 10%;
    overflow: visible;
}

.menu.menu--open .morph-shape {
    height: 600px;
}

.menu.menu--open .morph-shape svg path {
    fill: gray;
}

.morph-shape svg path {
    fill: #00c3ff;
  -webkit-transition: fill 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: fill 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.buting{
    width: 9.5vw;
    height: 2vw;
    position: absolute;
    left: 50vw;
    top: 3vw;
    transform: translate(-50%, -80%);
    font-family: 'Varela Round', sans-serif;
    font-size: 1.3vw;
    letter-spacing: 0.1em;
    color: #e8e8e8;
    border: none;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(45deg, #d350db, teal, #d350db);
    background-size: 400% 400%;
    box-shadow: 1vw 1vw 0 lightcoral;
    cursor: pointer;
    transition: all 0.3s ease;
    text-indent: 4px;
    line-height: 4ex;
}
.buting:hover {
    animation: gradient 10s ease infinite;
    font-size: 1.05vw;
    box-shadow: 0.2vw 0.2vw 0 lightcoral;
    top: auto;
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}


.nav1    {
    margin-top: -110px;
    float: none;
    color: #060505;
    left: 0%;
} 
.nav2 li {
    color: #FCF8F8;
    text-align: center;
    right: 110%;
    float: none;
    list-style-type: none;
    opacity: 1;
    padding-left: 0px;
}
.navinsta{
    margin-left: 517px;
    margin-top: -21px;
    padding-left: 10px;
    padding-right: 10px;
}
.navfaq{
    margin-top: -21px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 301px;	
}
.navpress{
    margin-top: -21px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
}
.navcontact{
    margin-top: -21px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 216px;
}
.navartist{
    margin-top: -21px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -198px;
}

.omg {
    width: 203px;
    min-width: 0px;
    height: 202px;
    z-index: -23;
    float: none;
    opacity: 0.81;
    padding-top: 21px;
    padding-right: 21px;
    padding-bottom: 21px;
    padding-left: 21px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    border: center;
    top: center;
    border-radius: 145px;
}
*/

/* header*/

.navhome {
    align-content: left;
    margin-top: 23px;
    width: 152px;
    height: 152px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border-radius: 113px;
    background-origin: padding-box;
    background-color: hsla(0,0%,100%,0.86);
    opacity: 0.8;
    position: fixed;
    left: 1%;
    color: rgba(248,248,248,0.05);
}
body {
   
    transition: background-color .5s;
}
#contacto .divcont .grid-container-form {
    margin-left: 124px;
	align-content: center;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "Weston Light Free";
    color: rgba(255,255,255,1.00);
    text-align: left;
    text-shadow: 0px 0px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: rgba(252,0,4,0.60);
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    color: rgba(255,255,255,1.00);
}
  .sidenav a {font-size: 18px;}
}

/*main articles*/

/* video*/
.jlkj {
    margin: center;
    width: 41%;
    position: center;
    top: center;
    padding-left: 93px;
    padding-right: 0px;
}

.video {
    height: 268%;
    margin-bottom: 588px;
}


/* artist css*/
.article1artist{
    background: #000000;
    text-align: center;
    color: #F9F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 24px;
}


.grid-container-arts {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding: 50px;
    width: 67%;
}

.grid-container-arts > div {
    text-align: left;
    padding: 20px 20px 20px;
    font-size: 9px;
    line-height: 655%;
}
.pclass{
    font-style: normal;
    font-weight: lighter;
    line-height: 130%;
    font-size: small;
    text-indent: 37px;
    font-family: Arvo;
    text-align: right;
    margin-left: 55px;
    margin-top: -29px;
}

/* press css*/

.article1press{
    background: #000000;
    text-align: center;
    color: #F9F5F5;
    margin-top: -25px;
    padding-top: 20px;
}

/* contact css*/
.article1contact{
    font-family: 'Quicksand Regular',Helvetica, Arial,'sans-serif';
    background: white;
    text-align: center;
    color: #000000;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-top: -22px;
    display: block;
}

.wurt {
    width: 364px;
    margin-left: 0px;
}
.divcont{
    font-family: "Quicksand Regular";
    align-content: center;
    align-self: baseline center;
    width: 1088px;
    height: 865px;
    margin-left: 121px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    margin-bottom: -95px;
}
.divconhed{
    align-items: center;
    height: 96px;
    width: 249px;
    margin-top: -399px;
    margin-left: 65px;
}
.leg_a {
    border-left-color: #000000;
    border-left-style: none;
    border-right-style: solid;
    border-right-color: #000000;
    border-spacing: 467px 0px;
    font-family: "Quicksand Regular";
    height: 49.5%;
    border-collapse: separate;
    float: none;
    display: block;
    width: 71%;
}
.leg_b {
    border-bottom-style: none;
}
.divsend{
    margin-top: -44px;
    width: 164px;
    height: 159px;
    display: compact;
    padding-top: 0px;
    margin-bottom: 486px;
    font-family: "Quicksand Regular";
    padding-bottom: 0px;
    margin-left: 288px;
}
.spancont {
    width: 172px;
    height: 50px;
    float: left;
    margin-top: 44px;
}
.hed_div_text{
	
}
.hed_div_icon{
    margin-bottom: -93px;
    margin-top: 169px;
}
.head_div_phone{
    width: 274px;
    display: inline;
    margin-left: 200px;
    margin-top: 25px;
}
.popups {
   
}
.field_setA{
    width: 600px;
    height: 900px;
    float: left;
    text-align: left;
    border-right-color: #000000;
    border-right-style: solid;
    font-family: "Quicksand Regular";
    margin-right: -100px;
}
.radiof {
    position: relative;
    display: marker;
    margin-left: 58px;
    margin-top: -37px;
}
#name5{
	width: 226px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
	
}

#lasname5{
	width: 248px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
}
#movil5{
    width: 245px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
	
}
#mail5{
	width: 260px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
}

#nacimient{
	width: 145px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
}
#direccion1{
    width: 226px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
    margin-left: 85px;
    padding-top: 0px;
    margin-top: -135px;
}

#direccion2{
    width: 226px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
    margin-left: 85px;	
}

#direccion3{
    width: 226px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
    margin-left: 85px;
}

#direccion_mosp {
    margin-left: 71px;
    margin-top: -222px;
    display: marker;
}

#b_p{
    width: 201px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
    margin-left: -1px;
}

#sz{
    width: 226px;
    border-bottom: .07px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border-spacing: 51px 26px;
    margin-left: -1px;
}

#seleccionar{
    color: #000000;
    font-family: "Quicksand Regular";
    text-align: justify;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    opacity: 1;
    width: 302px;
}
.field_setb {
    width: 600px;
    height: 900px;
    float: right;
    text-align: left;
    font-family: "Quicksand Regular";
    border-left-color: #000000;
    border-left-style: solid;
    border-width: 0%;
}


.grid-container-form  {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 500px;
    border-spacing: 28px 0px;
    border-right-width: thin;
    margin-left: 33px;
}

.grid-container-form > div {
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 9px;
    line-height: 655%;
    margin-top: -565px;
    padding-top: 0px;
    font-family: "Quicksand Regular";
    border-top-left-radius: 144px;
}
.dev{
    border-bottom-color: #030303;
    border-bottom-style: solid;
    height: 455px;
    margin-top: 105px;
    width: 1161px;
    margin-left: -17px;
}
	 .button {
    background-color: white;
    border: .1px solid #000000;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 1;
}

/* FAQS css*/

.article1faq {
    background: #000000;
    color: #FFFFFF;
    font-family: Arvo;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.grid-container-faq {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding-top: 182px;
    padding-right: 182px;
    padding-left: 182px;
    padding-bottom: 182px;
    margin-left: -39px;
    margin-right: 113px;
    margin-bottom: 0px;
}

.grid-container-faq > div {
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}

.col1 {
    color: hsla(0,1%,24%,1.00);
    font-family: Arvo;
    text-align: left;
    font-size: large;
    text-shadow: 0px 0px none;
    font-weight: 400;
    text-transform: uppercase;
}

 
.faq_art_div{
    text-align: justify;
    color: hsla(0,71%,99%,1.00);
    font-weight: lighter;
    font-size: small;
    font-family: karma;
    line-height: 142%;
    text-shadow: 0px 0px none;
} 

.faq_art_div2 {
    text-align: justify;
    color: hsla(0,0%,100%,1.00);
    font-weight: lighter;
    font-size: small;
    font-family: karma;
    line-height: 173%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: -155px;
    text-shadow: 0px 0px none;
}

/* instagram */	
#instafeed img{ 
	max-width: 15em;
	padding: -01px 5px 5px 0px;
}
#instafeed img:hover {
	opacity: 0.6;
    animation:  10s ease infinite;
}
.article1ig{
    background: #000000;
    text-align: center;
    color: #F9F5F5;
    padding-top: 55px;
    margin-top: -4px;
}

/* ubicacion css*/
      #map {
    height: 67%;
    margin-left: 223px;
    width: 65%;
    margin-top: 68px;
      }
#soma:link{
    text-decoration: none;
}

#soma:visited {
    text-decoration: none;
}

#soma:hover {
    text-decoration: underline;
}

#soma:active {
    text-decoration: underline;
}
	


.himap{
	align-self: center;
	align-content: center;
    
}
.articleubi{
    background: #000000;
    text-align: center;
    color: #F9F5F5;
    padding-top: 55px;
    margin-top: -4px;
    height: 40em;
}

/* footer styles*/

.dedo {
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 47px;
    width: 214px;
    height: 299px;
}
.dedfd {
    margin-top: 8px;
    color: rgba(255,255,255,1.00);
    text-shadow: 0px 0px none;
    font-size: large;
    font-weight: lighter;
    line-height: -146%;
    font-style: normal;
    word-spacing: 88%;
    white-space: pre-line;
    letter-spacing: 243%;
    margin-left: 13px;
    font-family: Arvo;
}

.hjfoot {
    margin-left: 613px;
    margin-top: -53px;
    margin-right: 587px;
    width: 206px;
    position: absolute;
    padding-left: 0px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width : 35.000em ){
    /* Style adjustments for viewports that meet the condition */
}




@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
    orphans: 3;
    widows: 3;
    color: rgba(255,255,255,1.00);
    text-shadow: 0px 0px none;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
